body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar {
  background-color: #343a40 !important;
}

.nav-item a {
  color: #fff !important;
  transition: 0.5s;
}

.nav-item a:hover {
  color: #b6b6b6 !important;
}

.dropdown-menu a {
  color: #343a40 !important;
  transition: 0.3s;
}

.dropdown-menu a:hover {
  color: #e64c3c !important;
  border-bottom: 1px solid #e64c3c;
}

/* */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  padding: 20px;
}

.card {
  width: 345px;
  min-width: 345px;
  height: 200px;
  min-height: 200px;
  background-color: #f4f4f4;
  border: none !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
}

.card-img img {
  width: 345px;
  min-width: 345px;
  min-height: 200px;
  height: 200px;
}

.card-title {
  height: 70px;
  min-height: 70px;
}

.card-content {
  border-top: 1px solid #b6b6b648;
  height: 100px;
  min-height: 100px;
}

.btn-card {
  background-color: #e64c3c;
  color: #fff;
  width: 160px;
  min-width: 160px;
}

.btn-card:hover {
  background-color: transparent;
  color: #e64c3c;
  border: 1px solid #e64c3c;
}

.add {
  background-color: transparent !important;
  color: #e64c3c;
}

.add:hover {
  background-color: transparent !important;
  color: #e64c3c;
  border: 1px solid #e64c3c;
}

.card-publish-date {
  border-top: 1px solid #b6b6b648;
}

.card-publish-date i {
  color: #afafaf !important;
}
