{% extends 'Header.html' %} {% block base %} {% load static %}
<div class="base-title ml-4">
  <h1>Livros Recentes</h1>
  <p>Lista com os livros postados recentemente.</p>
</div>
<div class="card-container">
  {% for livro in livros_recentes %}
  <div class="card m-2">
    <div class="card-img">
      {% if livro.imagem %}
      <img src="{{ livro.imagem.url }}" alt="{{ livro.titulo }} Imagem" />
      {% else %}
      <img src="{% static 'imgs/card-bg.jpg' %}" alt="" />
      {% endif %}
    </div>
    <div class="card-title m-2">
      <h3>{{ livro.titulo }}</h3>
    </div>
    <div class="card-content p-2">
      {% if livro.descricao %}
      <p>{{ livro.descricao }}</p>
      {% else %}
      <p>Descrição não disponível.</p>
      {% endif %}
    </div>
    <div class="card-buttons p-2">
      <a href="{% url 'detalhes_livro' livro.id %}"
        ><button class="btn btn-card details">Detalhes</button></a
      >
      <a href="{% url 'novo_livro' %}"
        ><button class="btn btn-card add">Adicionar</button></a
      >
    </div>
    <div class="card-publish-date p-2">
      <i class="fa-solid fa-calendar"></i> Publicado no ano de
      {{livro.ano_publicacao }}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
